* {font-family: "Roboto Condensed", sans-serif;}

body {background-color: rgb(251, 226, 250) !important;}

#question {border: 6px solid rgb(224, 26, 255);}

.answers-div {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 776px) {
    .answers-div {flex-direction: column;}
    .answer-btn {width: 100% !important;}
}

.answer-btn {
    border: 3px solid purple !important;
    width: 45%;
}

.correct {
    color: green;
    font-weight: bolder;
}